@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Oleo+Script+Swash+Caps&family=Poppins:wght@300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}
body {
    border: 2px solid purple;
    display: flex;
    max-height: 100vh;
    flex-direction: column;
    background-image: url("../assets/images/night-sky-moon-bdlgkile5f7jt8bl.jpg");
    background-size: cover;
    color: deepskyblue;
    font-family: 'Oleo Script Swash Caps', cursive;
    }
